KV_REST_API_URL=
KV_REST_API_TOKEN=
KV_REST_API_READ_ONLY_TOKEN=
KV_URL=
REDIS_URL=
DATABASE_URL=
POSTGRES_DB=upgrader
POSTGRES_USER=upgrader
POSTGRES_PASSWORD=
CRON_SECRET=
CATALOG_STEAM_USD_MULTIPLIER=
NODE_ENV=production
PORT=3000
HOSTNAME=0.0.0.0
UPGRADER_DOMAIN=
